[user]
	# Details that ends up in author/ committer fields
	name = Siddharth Kaushik
	email = sidharth.basu@icloud.com

[core]
	# Ignore files that are not meant to be tracked
	editor = code-insiders --wait
	excludesfile = /Users/sid/.gitignore_global
	# Speed up commands involving untracked files such as `git status`.
	untrackedCache = true

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[push]
	# Push the current branch to update a branch with the same name on the receiving end
  default = current
	# Make pushes to be GPG signed if the server supports it
	gpgSign = if-asked

[diff]
	tool = default-difftool
	# Detect renames as well as copies
	renames = copies

[difftool "default-difftool"]
  cmd = code-insiders --wait --diff \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = "vscode"
	log = true

[mergetool "vscode"]
	cmd = code-insiders --wait \"$MERGED\"
	trustExitCode = true

[help]
	# Automatically correct an execute mistypes commands
	autocorrect = 1

# Handle large files
[filter "lfs"]
	# Use this command to convert blob content to worktree file on checkout
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	# Use this command to convert worktree file content to a blob upon checkin
	clean = git-lfs clean -- %f

[commit]
	# Use .stCommitMsg as the template for new commit messages
	template = /Users/sid/.stCommitMsg

[init]
	# Override default branch name when initializing or cloning a new repo
	defaultBranch = main
